*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Overpass", sans-serif;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;

}

p{
    color: hsl(217, 12%, 63%);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    line-height: 1.5;
}


.container{

    margin: 0 auto;
    height: 400px;
    width: 400px;
    /* background-color: hsl(215, 25%, 21%); */
    border-radius: 20px;
    text-align: start;
    /* background-color: hsl(212, 17%, 15%); */
    background-image: linear-gradient(hsl(214, 25%, 16%), hsl(216, 12%, 10%));


}
.rating{
    padding-top: 20px;
    /* display: none; */
}

.star-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:hsl(214, 25%, 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}
.score-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 30px;
}
button.btn{
    background-color:hsl(214, 25%, 16%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color:hsl(217, 12%, 63%);
    border-style: none;
    font-weight: 700;
    font-size: 16px;
}

.submit {
    background-color: hsl(25, 97%, 53%);
    width: 325px;
    height: 42px;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    margin-left: 38px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 700;
}

.btn:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thanks{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.thanks-img{
    width: 200px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}   

.inner-text{
    background-color:hsl(214, 25%, 24%);
    width: fit-content;
    display: flex;
    margin: 0 auto;
    color: hsl(25, 97%, 53%);
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 40px;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding: 10px 40px 10px 40px;
}